// Put your custom SCSS code here
// TEMP: fix for wonky images aspect ratio (https://github.com/thuliteio/doks/discussions/1328#discussioncomment-12309379)
img {
  max-width: 100%;
  height: auto;
}

header.navbar > div > a.navbar-brand {
  color: #00ace6;
  // text-transform: uppercase;
  font-weight: bold;
  line-height: 5vh;
  background: linear-gradient(to right, #00AAD4 0%, #FEDE6A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

#homepage-logo {
  max-height: 120px;
  margin-bottom: 4vh;
}

// RAINBOW JS
[data-language] code, [class^="lang"] code, pre [data-language], pre [class^="lang"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  animation: fade-in 50ms ease-in-out 2s forwards
}

[data-language] code.rainbow, [class^="lang"] code.rainbow, pre [data-language].rainbow, pre [class^="lang"].rainbow {
  animation: none;
}

[data-language] code.loading, [class^="lang"] code.loading, pre [data-language].loading, pre [class^="lang"].loading {
  animation: none
}

[data-language] code.rainbow-show, [class^="lang"] code.rainbow-show, pre [data-language].rainbow-show, pre [class^="lang"].rainbow-show {
  opacity: 1
}

pre {
  position: relative;
  background-color: #000;
  word-wrap: break-word;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin: 0 0 20px;
}

pre, code {
  font-family: 'Monaco', 'Menlo', courier, monospace
}

pre .comment {
  color: #70aec0
}

pre .constant.number {
  color: #b9684f
}

pre .constant {
  color: #648c8f
}

pre .constant.language {
  color: #268bd2
}

pre .constant.regexp {
  color: #2aa198
}

pre .storage {
  color: #268bd2
}

pre .variable {
  color: #b575cc
}

pre .string, pre .comment.docstring {
  color: #2aa198
}

pre .string.regexp {
  color: #2aa198
}

pre .keyword, pre .selector {
  color: #859900
}

pre .entity {
  color: #b58900
}
// END RAINBOW JS

